.macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-pro .div {
    background-color: #ffffff;
    height: 982px;
    overflow: hidden;
    position: relative;
    width: 1512px;
  }
  
  .macbook-pro .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 165px;
  }
  
  .macbook-pro .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 1371px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 165px;
  }
  