.DATA-NILAI {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.DATA-NILAI .div {
  background-color: #f9f9f9;
  height: 1080px;
  position: relative;
  width: 1966px;
}

.DATA-NILAI .FOOTER {
  background-color: transparent;
  height: 62px;
  left: 0;
  position: absolute;
  top: 1009px;
  width: 1920px;
}

.DATA-NILAI .p {
  color: #0083ff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 591px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -9px;
  width: 737px;
}

.DATA-NILAI .line {
  height: 5px;
  left: 1038px;
  object-fit: cover;
  position: absolute;
  top: -17px;
  width: 882px;
}

.DATA-NILAI .img {
  height: 5px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: -20px;
  width: 882px;
}

.DATA-NILAI .text-wrapper-2 {
  color: #0083ff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 17px;
  font-weight: 500;
  left: 919px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -29px;
  white-space: nowrap;
  width: 82px;
}

.DATA-NILAI .PAGES {
  display: flex;
  justify-content: center;
  height: 38px;
  left: 55rem;
  position: absolute;
  top: 54rem;
  width: 157px;
}

.DATA-NILAI .div-wrapper {
  display: flex;
  gap: 10px;
}

.DATA-NILAI .overlap-group {
  display: flex;
  align-items: center;
}

.DATA-NILAI .ellipse {
  background-color: #0083ff;
  border-radius: 15px/14.5px;
  height: 29px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DATA-NILAI .text-wrapper-3 {
  color: #eeeeee;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  height: 38px;
  left: 0px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  width: 31px;
}

/* Add hover effect for better user experience */
.DATA-NILAI .overlap-group:hover .ellipse {
  background-color: #0060cb;
  /* Change color on hover */
}

.DATA-NILAI .text-wrapper-4 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 38px;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 31px;
}

.DATA-NILAI .text-wrapper-5 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 38px;
  left: 122px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 31px;
}

.DATA-NILAI .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 538px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 929px;
  width: 313px;
}

.DATA-NILAI .PEMBERITAHUAN {
  background-color: #eaebeb;
  border-radius: 16px;
  height: 496px;
  left: 1610px;
  position: absolute;
  top: 160px;
  width: 296px;
}

.DATA-NILAI .element-2 {
  height: 24px;
  left: 200px;
  position: absolute;
  top: 20px;
  width: 24px;
}

.DATA-NILAI .frame {
  height: 24px;
  left: 248px;
  position: absolute;
  top: 20px;
  transform: rotate(-90deg);
  width: 24px;
}

.DATA-NILAI .group {
  height: 18px;
  left: 10px;
  position: relative;
  top: 3px;
  width: 4px;
}

.DATA-NILAI .ellipse-2 {
  background-color: #0741d4;
  border-radius: 1.75px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.DATA-NILAI .ellipse-3 {
  background-color: #0741d4;
  border-radius: 1.75px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 4px;
}

.DATA-NILAI .ellipse-4 {
  background-color: #0741d4;
  border-radius: 1.75px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 4px;
}

.DATA-NILAI .PIKET {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 24px;
  position: absolute;
  top: 265px;
}

.DATA-NILAI .element-3 {
  height: 24px;
  position: relative;
  width: 24px;
}

.DATA-NILAI .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.DATA-NILAI .text-wrapper-7 {
  color: #727272;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.DATA-NILAI .WALI-MURID {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 24px;
  position: absolute;
  top: 217px;
}

.DATA-NILAI .KLS {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 24px;
  position: absolute;
  top: 169px;
}

.DATA-NILAI .KLS-2 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 24px;
  position: absolute;
  top: 121px;
}

.DATA-NILAI .KLS-3 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 24px;
  position: absolute;
  top: 73px;
}

.DATA-NILAI .text-wrapper-8 {
  color: #262626;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
}

.DATA-NILAI .search {
  background-color: #f0f2f5;
  border-radius: 32px;
  height: 45px;
  left: 467px;
  overflow: hidden;
  position: absolute;
  top: 74px;
  width: 938px;
}

.DATA-NILAI .TABLE {
  border: 1px black;
}

.stable-table {
  border-collapse: separate;
  border-spacing: 10rem 100px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.stable-table th,
.stable-table td {
  width: 15rem;
  border: none;
  padding: 20px;
  text-align: center;
}

.stable-table th {
  color: white;
  background-color: #0082fc;
  border-style: none;
}

.stable-table tr {
  margin-right: -15px;
  padding: 9px;
}

.TAMBAH-DATA {
  background-color: #538dc7;
  border: none;
  border-radius: 15px;
  height: 42px;
  width: 8rem;
  cursor: pointer;
}

.TAMBAH-DATA:hover {
  background-color: #416e9c;
}

.TAMBAH-DATA .text-wrapper-23 {
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 20px;
}

.TAMBAH-DATA-2 {
  background-color: #dd3920;
  border: none;
  border-radius: 15px;
  height: 42px;
  width: 8rem;
  cursor: pointer;
}

.TAMBAH-DATA-2 .text-wrapper-23 {
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 20px;
}

.TAMBAH-DATA-2:hover {
  background-color: #b32e1a;
}

.DATA-NILAI .TABLE {
  height: 647px;
  left: 377px;
  position: absolute;
  top: 262px;
  width: 1153px;
}

.DATA-NILAI .overlap {
  height: 647px;
  position: relative;
  width: 1104px;
}

.DATA-NILAI .INPUT {
  height: 585px;
  left: 1039px;
  position: absolute;
  top: 27px;
  width: 65px;
}

.DATA-NILAI .overlap-group-wrapper {
  height: 36px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 64px;
}

.DATA-NILAI .overlap-group-2 {
  height: 36px;
  position: relative;
}

.DATA-NILAI .rectangle {
  background-color: #0082fc;
  border-radius: 3px;
  height: 36px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 61px;
}

.DATA-NILAI .input {
  background: transparent;
  border: none;
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 64px;
}

.DATA-NILAI .overlap-wrapper {
  height: 36px;
  left: 1px;
  position: absolute;
  top: 91px;
  width: 64px;
}

.DATA-NILAI .INPUT-2 {
  height: 36px;
  left: 0;
  position: absolute;
  top: 185px;
  width: 64px;
}

.DATA-NILAI .INPUT-3 {
  height: 36px;
  left: 1px;
  position: absolute;
  top: 276px;
  width: 64px;
}

.DATA-NILAI .INPUT-4 {
  height: 36px;
  left: 1px;
  position: absolute;
  top: 370px;
  width: 64px;
}

.DATA-NILAI .INPUT-5 {
  height: 36px;
  left: 1px;
  position: absolute;
  top: 456px;
  width: 64px;
}

.DATA-NILAI .INPUT-6 {
  height: 36px;
  left: 0;
  position: absolute;
  top: 549px;
  width: 64px;
}

.DATA-NILAI .table-row-instance {
  height: 93px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 1065px !important;
}

.DATA-NILAI .table-header-component {
  margin-bottom: -15.5px !important;
  margin-top: -15.5px !important;
}

.DATA-NILAI .table-header-instance {
  margin-bottom: unset !important;
  margin-top: unset !important;
}

.DATA-NILAI .table-header-component-instance {
  height: 91px !important;
  left: 0 !important;
  position: absolute !important;
  top: 93px !important;
  width: 1065px !important;
}

.DATA-NILAI .design-component-instance-node {
  margin-bottom: -16.5px !important;
  margin-top: -16.5px !important;
}

.DATA-NILAI .table-row-instance-2 {
  height: 94px !important;
  left: 0 !important;
  position: absolute !important;
  top: 184px !important;
  width: 1065px !important;
}

.DATA-NILAI .table-row-instance-3 {
  margin-bottom: -15px !important;
  margin-top: -15px !important;
}

.DATA-NILAI .table-row-instance-4 {
  height: 91px !important;
  left: 0 !important;
  position: absolute !important;
  top: 278px !important;
  width: 1065px !important;
}

.DATA-NILAI .table-row-instance-5 {
  height: 91px !important;
  left: 0 !important;
  position: absolute !important;
  top: 369px !important;
  width: 1065px !important;
}

.DATA-NILAI .table-row-instance-6 {
  height: 94px !important;
  left: 0 !important;
  position: absolute !important;
  top: 460px !important;
  width: 1065px !important;
}

.DATA-NILAI .table-row-instance-7 {
  height: 93px !important;
  left: 0 !important;
  position: absolute !important;
  top: 554px !important;
  width: 1065px !important;
}

.DATA-NILAI .SORTING-DATA {
  height: 20px;
  left: 1259px;
  position: absolute;
  top: 215px;
  width: 108px;
}

.DATA-NILAI .icon-sort {
  height: 18px;
  left: 85px;
  position: absolute;
  top: 0;
  width: 23px;
}

.DATA-NILAI .text-wrapper-9 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 85px;
}

.DATA-NILAI .navbar {
  height: 37px;
  left: 276px;
  position: absolute;
  top: 140px;
  width: 414px;
}

.DATA-NILAI .text-wrapper-10 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 360px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 110px;
}

.DATA-NILAI .text-wrapper-11 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 239px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  /* width: 71px; */
}

.DATA-NILAI .text-wrapper-12 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 115px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 147px;
}

.DATA-NILAI .text-wrapper-13 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 120px;
}

.DATA-NILAI .MENU {
  background-color: #0082fc;
  border-radius: 16px;
  height: 740px;
  left: 21px;
  position: absolute;
  top: 160px;
  width: 239px;
}

.DATA-NILAI .PROFILE {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 28px;
  position: absolute;
  top: 310px;
}

.DATA-NILAI .text-wrapper-14 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.DATA-NILAI .PROFILE-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 28px;
  position: absolute;
  top: 609px;
}

.DATA-NILAI .group-2 {
  height: 48px;
  left: 27px;
  position: absolute;
  top: 646px;
  width: 190px;
}

.DATA-NILAI .overlap-group-3 {
  background-color: var(--gray-40);
  border-radius: 32px;
  height: 48px;
  position: relative;
  width: 188px;
}

.DATA-NILAI .group-wrapper {
  background-color: var(--whitewhite);
  border-radius: 24px;
  box-shadow: var(--shadows-gray-1-level);
  height: 36px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 85px;
}

.DATA-NILAI .group-3 {
  height: 20px;
  left: 16px;
  position: relative;
  top: 8px;
  width: 55px;
}

.DATA-NILAI .text-wrapper-15 {
  color: #0841d4;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 10px;
  font-weight: 500;
  left: 28px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
}

.DATA-NILAI .sun-solid {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.DATA-NILAI .text-wrapper-16 {
  color: var(--gray-290);
  font-family: "Poppins-Medium", Helvetica;
  font-size: 10px;
  font-weight: 500;
  left: 135px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}

.DATA-NILAI .moon-solid {
  height: 20px;
  left: 107px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.DATA-NILAI .SISWA {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 24px;
  position: absolute;
  top: 91px;
}

.DATA-NILAI .icon-SISWA {
  height: 19px;
  position: relative;
  width: 27.14px;
}

.DATA-NILAI .CHAT {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 27px;
  position: absolute;
  top: 146px;
}

.DATA-NILAI .icon-envelope {
  height: 19.39px;
  position: relative;
  width: 23px;
}

.DATA-NILAI .CHAT-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 25px;
  position: absolute;
  top: 202px;
}

.DATA-NILAI .icon-attendance {
  height: 20.83px;
  position: relative;
  width: 25px;
}

.DATA-NILAI .CHAT-3 {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 27px;
  position: absolute;
  top: 256px;
}

.DATA-NILAI .icon-calender {
  height: 24px;
  position: relative;
  width: 22px;
}

.DATA-NILAI .DASHBOARD {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 24px;
  position: absolute;
  top: 42px;
}

.DATA-NILAI .HEADER {
  background-color: transparent;
  height: 96px;
  left: 6px;
  position: absolute;
  top: 27px;
  width: 1861px;
}

.DATA-NILAI .overlap-2 {
  background-color: #62a8e8;
  height: 147px;
  left: -6px;
  position: relative;
  top: -51px;
  width: 1970px;
}

.DATA-NILAI .group-4 {
  height: 48px;
  left: 1680px;
  position: absolute;
  top: 71px;
  width: 123px;
}

.DATA-NILAI .group-5 {
  height: 48px;
}

.DATA-NILAI .group-6 {
  height: 48px;
  width: 123px;
}

.DATA-NILAI .group-7 {
  height: 48px;
  position: relative;
  width: 127px;
}

.DATA-NILAI .text-wrapper-17 {
  color: #727272;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 27px;
}

.DATA-NILAI .text-wrapper-18 {
  color: #262626;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
}

.DATA-NILAI .element-wrapper {
  background-color: #f0f2f5;
  border-radius: 24px;
  height: 48px;
  left: 1595px;
  position: absolute;
  top: 74px;
  width: 48px;
}

.DATA-NILAI .element-4 {
  height: 24px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.DATA-NILAI .search {
  background-color: #f0f2f5;
  border-radius: 32px;
  height: 45px;
  left: 467px;
  overflow: hidden;
  position: absolute;
  top: 74px;
  width: 938px;
}

.DATA-NILAI .custom-input {
  width: 58rem;
  font-size: 16px;
  margin-left: -2px;
  margin-top: -2px;
  padding: 15px;
}

.DATA-NILAI .group-8 {
  height: 21px;
  left: 16px;
  position: relative;
  top: 14px;
  width: 219px;
}

.DATA-NILAI .element-5 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 16px;
}

.DATA-NILAI .text-wrapper-19 {
  color: #727272;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.DATA-NILAI .SMP-KRISTEN-GETASAN {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 60px;
  left: 106px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 72px;
  width: 269px;
}

.DATA-NILAI .ellipse-5 {
  height: 48px;
  left: 1819px;
  position: absolute;
  top: 71px;
  width: 48px;
}

.DATA-NILAI .SMP-KRISTEN {
  height: 86px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 99px;
}