.EDIT-GURU {
  background-color: #f9f9f9;
  display:inline-block;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.EDIT-GURU body {
  width: auto;
}

.EDIT-GURU .div {
  background-color: #f9f9f9;
  height: 1080px;
  overflow: hidden;
  position: relative;
  width: 1942px;
}

.EDIT-GURU .MENU {
  background-color: #0082fc;
  border-radius: 16px;
  height: 740px;
  left: 21px;
  position: absolute;
  top: 163px;
  width: 239px;
}

.EDIT-GURU .PROFILE {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 28px;
  position: absolute;
  top: 310px;
}

.EDIT-GURU .element {
  height: 24px;
  position: relative;
  width: 24px;
}

.EDIT-GURU .text-wrapper {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.EDIT-GURU .PROFILE-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 28px;
  position: absolute;
  top: 609px;
}

.EDIT-GURU .group {
  height: 48px;
  left: 27px;
  position: absolute;
  top: 646px;
  width: 190px;
}

.EDIT-GURU .overlap-group {
  background-color: var(--gray-40);
  border-radius: 32px;
  height: 48px;
  position: relative;
  width: 188px;
}

.EDIT-GURU .overlap {
  background-color: var(--whitewhite);
  border-radius: 24px;
  box-shadow: var(--shadows-gray-1-level);
  height: 36px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 85px;
}

.EDIT-GURU .group-2 {
  height: 20px;
  left: 16px;
  position: relative;
  top: 8px;
  width: 55px;
}

.EDIT-GURU .text-wrapper-2 {
  color: #0841d4;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 10px;
  font-weight: 500;
  left: 28px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
}

.EDIT-GURU .sun-solid {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.EDIT-GURU .text-wrapper-3 {
  color: var(--gray-290);
  font-family: "Poppins-Medium", Helvetica;
  font-size: 10px;
  font-weight: 500;
  left: 135px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}

.EDIT-GURU .moon-solid {
  height: 20px;
  left: 107px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.EDIT-GURU .SISWA {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 24px;
  position: absolute;
  top: 91px;
}

.EDIT-GURU .icon-SISWA {
  height: 19px;
  position: relative;
  width: 27.14px;
}

.EDIT-GURU .CHAT {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 27px;
  position: absolute;
  top: 146px;
}

.EDIT-GURU .icon-envelope {
  height: 19.39px;
  position: relative;
  width: 23px;
}

.EDIT-GURU .CHAT-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 25px;
  position: absolute;
  top: 202px;
}

.EDIT-GURU .icon-attendance {
  height: 20.83px;
  position: relative;
  width: 25px;
}

.EDIT-GURU .CHAT-3 {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 27px;
  position: absolute;
  top: 256px;
}

.EDIT-GURU .icon-calender {
  height: 24px;
  position: relative;
  width: 22px;
}

.EDIT-GURU .DASHBOARD {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 24px;
  position: absolute;
  top: 42px;
}

.EDIT-GURU .FOOTER {
  background-color: transparent;
  height: 62px;
  left: 0;
  position: absolute;
  top: 1009px;
  width: 1920px;
}

.EDIT-GURU .p {
  color: #0083ff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 591px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -9px;
  width: 737px;
}

.EDIT-GURU .line {
  height: 5px;
  left: 1038px;
  object-fit: cover;
  position: absolute;
  top: -17px;
  width: 882px;
}

.EDIT-GURU .img {
  height: 5px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: -20px;
  width: 882px;
}

.EDIT-GURU .text-wrapper-4 {
  color: #0083ff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 17px;
  font-weight: 500;
  left: 919px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -29px;
  white-space: nowrap;
  width: 82px;
}

.EDIT-GURU .PEMBERITAHUAN {
  background-color: #eaebeb;
  border-radius: 16px;
  height: 496px;
  left: 1610px;
  position: absolute;
  top: 160px;
  width: 296px;
}

.EDIT-GURU .element-2 {
  height: 24px;
  left: 200px;
  position: absolute;
  top: 20px;
  width: 24px;
}

.EDIT-GURU .frame {
  height: 24px;
  left: 248px;
  position: absolute;
  top: 20px;
  transform: rotate(-90deg);
  width: 24px;
}

.EDIT-GURU .group-3 {
  height: 18px;
  left: 10px;
  position: relative;
  top: 3px;
  width: 4px;
}

.EDIT-GURU .ellipse {
  background-color: #0741d4;
  border-radius: 1.75px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.EDIT-GURU .ellipse-2 {
  background-color: #0741d4;
  border-radius: 1.75px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 4px;
}

.EDIT-GURU .ellipse-3 {
  background-color: #0741d4;
  border-radius: 1.75px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 4px;
}

.EDIT-GURU .PIKET {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 24px;
  position: absolute;
  top: 265px;
}

.EDIT-GURU .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.EDIT-GURU .text-wrapper-5 {
  color: #727272;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.EDIT-GURU .WALI-MURID {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 24px;
  position: absolute;
  top: 217px;
}

.EDIT-GURU .KLS {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 24px;
  position: absolute;
  top: 169px;
}

.EDIT-GURU .KLS-2 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 24px;
  position: absolute;
  top: 121px;
}

.EDIT-GURU .KLS-3 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 24px;
  position: absolute;
  top: 73px;
}

.EDIT-GURU .text-wrapper-6 {
  color: #262626;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
}

.EDIT-GURU .overlap-2 {
  height: 37px;
  left: 280px;
  position: absolute;
  top: 162px;
  width: 408px;
}

.EDIT-GURU .line-2 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 404px;
}

.EDIT-GURU .text-wrapper-7 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 118px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 130px;
}

.EDIT-GURU .text-wrapper-8 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 238px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 170px;
}

.EDIT-GURU .text-wrapper-9 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 120px;
}

.EDIT-GURU .HEADER {
  background-color: transparent;
  height: 123px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1944px;
}

.EDIT-GURU .overlap-3 {
  background-color: #62a8e8;
  height: 123px;
  position: relative;
  width: 1942px;
}

.EDIT-GURU .group-4 {
  height: 48px;
  left: 1712px;
  position: absolute;
  top: 47px;
  width: 116px;
}

.EDIT-GURU .text-wrapper-10 {
  color: #727272;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 27px;
  width: 54px;
}

.EDIT-GURU .text-wrapper-11 {
  color: #262626;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 111px;
}

.EDIT-GURU .element-wrapper {
  background-color: #f0f2f5;
  border-radius: 24.27px/24px;
  height: 48px;
  left: 1613px;
  position: absolute;
  top: 50px;
  width: 49px;
}

.EDIT-GURU .element-3 {
  height: 24px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.EDIT-GURU .search {
  background-color: #f0f2f5;
  border-radius: 32px;
  height: 45px;
  left: 472px;
  overflow: hidden;
  position: absolute;
  top: 50px;
  width: 949px;
}

.EDIT-GURU .group-5 {
  height: 21px;
  left: 16px;
  position: relative;
  top: 14px;
  width: 97px;
}

.EDIT-GURU .element-4 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 16px;
}

.EDIT-GURU .text-wrapper-12 {
  color: #727272;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.EDIT-GURU .SMP-KRISTEN-GETASAN {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 72px;
  left: 126px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  width: 314px;
}

.EDIT-GURU .ellipse-4 {
  height: 48px;
  left: 1840px;
  position: absolute;
  top: 47px;
  width: 49px;
}

.EDIT-GURU .SMP-KRISTEN {
  height: 86px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 100px;
}

.EDIT-GURU .group-6 {
  height: 86px;
  left: 320px;
  position: absolute;
  top: 297px;
  width: 528px;
}

.EDIT-GURU .frame-wrapper {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 509px;
}

.EDIT-GURU .frame-2 {
  align-items: center;
  display: inline-flex;
  gap: 2px;
  left: 5px;
  position: relative;
  top: 9px;
}

.EDIT-GURU .text-wrapper-13 {
  color: #252d36;
  font-family: "Poppins-Regular", Helvetica;
  line-height: 14px;
  font-size: 20px;
  font-weight: 400;
}

.EDIT-GURU .text-wrapper-14 {
  color: #d95117;
  font-family: "Poppins-Black", Helvetica;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.21px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.EDIT-GURU .frame-3 {
  align-items: center;
  top: 55px;
  display: flex;
  gap: 680px;
  left: -1px;
  padding: 2px 20px;
  position: absolute;
  width: 602px;
}

.EDIT-GURU .search {
  background-color: #f0f2f5;
  border-radius: 32px;
  height: 45px;
  left: 467px;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 938px;
}

/* Add these styles to your CSS file */
.EDIT-GURU .custom-input {
  width: 5rem; 
  font-size: 16px; 
  padding: 10px;
}

.EDIT-GURU .text-wrapper-15 {
  color: var(--grey-700);
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.EDIT-GURU .group-7 {
  height: 86px;
  left: 320px;
  position: absolute;
  top: 388px;
  width: 528px;
}

.EDIT-GURU .text-wrapper-16 {
  color: #d95117;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.21px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.EDIT-GURU .frame-4 {
  align-items: center;
  display: inline-flex;
  gap: 2px;
  left: 5px;
  position: relative;
  top: -9rem;
}

.EDIT-GURU .setting {
  border-radius: 10px;
  width: 58rem;
  font-size: 16px;
  margin-left: -19px;
  margin-top: -20px;
  padding: 18px;
}

.EDIT-GURU .group-8 {
  height: 86px;
  left: 320px;
  position: absolute;
  top: 479px;
  width: 528px;
}

.EDIT-GURU .overlap-4 {
  border-radius: 8px;
  height: 47px;
  left: -1px;
  position: absolute;
  top: 40px;
  width: 530px;
}

.EDIT-GURU .frame-5 {
  align-items: center;
  top: -6rem;
  display: flex;
  left: -1px;
  padding: 2px 20px;
  position: absolute;
  width: 602px;
}

.EDIT-GURU .icon-chevron-down {
  height: 10px;
  left: 490px;
  position: absolute;
  top: 20px;
  width: 17px;
}

.EDIT-GURU .group-9 {
  height: 86px;
  left: 320px;
  position: absolute;
  top: 570px;
  width: 528px;
}

.EDIT-GURU .group-10 {
  height: 86px;
  left: 320px;
  position: absolute;
  top: 661px;
  width: 528px;
}

.EDIT-GURU .frame-6 {
  align-items: center;
  display: inline-flex;
  gap: 2px;
  left: 5px;
  position: relative;
  top: -7rem;
}

.EDIT-GURU .group-11 {
  height: 86px;
  left: 320px;
  position: absolute;
  top: 752px;
  width: 528px;
}

.EDIT-GURU .TAMBAH-DATA {
  justify-content: center;
  background-color: #0082fc;
  border-radius: 10px;
  height: 50px;
  left: 35rem;
  position: absolute;
  top: 823px;
  width: 170px;
}

.EDIT-GURU .TAMBAH-DATA:hover {
  background-color: #036fd4;
}

.EDIT-GURU .text-wrapper-17 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 17px;
  font-weight: 600;
  height: 20px;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
  width: 147px;
}

.EDIT-GURU .PHOTO-PROFILE {
  /* background-image: url(./image-1.png); */
  background-size: 100% 100%;
  height: 94px;
  left: 316px;
  position: absolute;
  top: 200px;
  width: 93px;
}

.EDIT-GURU .edit-photo {
  background-color: #ff9901;
  border-radius: 15px;
  height: 30px;
  left: 60px;
  position: relative;
  top: 58px;
  width: 30px;
}

.EDIT-GURU .frame-7 {
  align-items: center;
  top: -4rem;
  display: flex;
  left: -1px;
  padding: 2px 20px;
  position: absolute;
  width: 602px;
}

.EDIT-GURU .frame-8 {
  align-items: center;
  display: inline-flex;
  gap: 2px;
  left: -1px;
  position: relative;
  top: 2rem;
}

.EDIT-GURU .frame-9 {
  align-items: center;
  top: -2rem;
  display: flex;
  left: -1px;
  padding: 2px 20px;
  position: absolute;
  width: 602px;
}
